@model Product

<h1>Hello everybody, I'm a programmer</h1>
@{
    <table>
        <tr>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Model.Supplier</td>           
        </tr>
        <tr>
            <td>@Model.Description</td>          
        </tr>
        <tr>
            <td>@Model.Status</td>            
        </tr>
        <tr>
            <td>@Model.AvailableQuantity</td>
        </tr>

    </table>
}